.fc-time-grid-event {
    max-width: 70%;
}

.select {
    .cantainer {
        margin-top: 10px;
    }

    p {
        padding: 20px;
        text-align:center;
        font-size: 30px;
    }

    .reservation-table {
        width:100%;
        text-align:center;
        td {
            height: 44px;
        }
        .left {
            background-color: #F6E3CE;
            width: 30%;
        }
        .right {
            width: 70%;
        }
        select {
            width: 70%;
            text-align:center;
        }
    }

    div.exec {
        margin-top:40px;
        text-align:center;
        button {
            width: 70%;
        }
    }
}

.select {
    .cantainer {
        margin-top: 10px;
    }

    p {
        padding: 20px;
        text-align:center;
        font-size: 30px;
    }

    .reservation-table {
        width:100%;
        text-align:center;
        td {
            height: 44px;
        }
        .left {
            background-color: #F6E3CE;
            width: 30%;
        }
        .right {
            width: 70%;
        }
        select {
            width: 70%;
            text-align:center;
        }
    }

    div.exec {
        margin-top:40px;
        text-align:center;
        button {
            width: 70%;
        }
    }
}
