
<ons-page ng-controller="TabController">
  <ons-tabbar>
    <ons-tab active="true" page="views/home.html">
      <div class="tab">
        <ons-icon icon="ion-home" class="tab-icon"></ons-icon>
        <div class="tab-label">Timeline</div>
      </div>
    </ons-tab>
    <ons-tab page="views/settings.html">
      <div class="tab">
        <ons-icon icon="ion-gear-a" class="tab-icon"></ons-icon>
        <div class="tab-label">Settings</div>
      </div>
    </ons-tab>
  </ons-tabbar>
</ons-page>