div(ng-controller="HomeController")
  div.container
    button.btn.btn-primary(ng-click="admin()") 管理者画面
    button.btn.btn-primary(ng-click="tournament()") トーナメント作成
    div(ui-calendar="uiConfig.calendar" ng-model="eventSources")

