ons-page(ng-controller="TabController")
    ons-tabbar
        ons-tab(active="true" page="views/home.html")
            div.tab
                ons-icon.tab-icon(icon="ion-home")
                div.tab-label Timeline
        ons-tab(page="views/settings.html")
            div.tab
                ons-icon.tab-icon(icon="ion-gear-a")
                div.tab-label Settings
